*.db
*.log
*.pid
*.sqlite
*.sqlite3
*.swp
*~
.#*
.DS_Store
.bundle
.hg/*
.hgignore
.svn/*
TAGS
gems/gems/*
gems/specifications/*
log/*
merb_profile_results
schema/*.db
schema/*.sqlite
schema/*.sqlite3
schema/*_structure.sql
schema/schema.rb
src/*
tags
tmp/*
